<h1>Register your absence</h1>

<%= form_for @absence, url: absences_path, html: { multipart: true } do |form| %>
  <%= form.file_field :document, accept: 'image/png,image/jpeg,application/pdf' %>
  <%= form.submit %>
<% end %>
